<!doctype html>
<html>
    <head>
        <title>Location App{% block subtitle %}{% endblock %}</title>
    </head>
    <body>
        {% block nav %}
        <ul class="menu">
            <li>
                <a href="{{ url_for('profile') }}">Profile Page</a>
            </li>
            <li>
                <a href="{{ url_for('location') }}">My Location</a>
            </li>
            <li>
                <a href="{{ url_for('index') }}">Log Out</a>
            </li>
        </ul>
        {% endblock %}

        {% block content %}{% endblock %}
    </body>
</html>

